.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    background-color: #9ca689;
}

.flash h4 {
    line-height: 2;
    color: seashell;
}

/*-- Google Map API ---*/
#map {min-height: 360px;
    margin: 15px
}
