@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&family=Montserrat&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    background-color: #9ca689;
    font-family: 'Montserrat', sans-serif;
}

.flash h4 {
    line-height: 2;
    color: seashell;
}

/*-- Google Map API ---*/
#map {min-height: 360px;
    margin: 15px
}


/*-- edit and done btns on profile.html */
.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
}

/* welcome card on profile page */ 
.welcome-row {
    margin-top: 20px;
}

/* nav div wrapper to contain brand logo */
@media screen and (max-width: 517px) {

#title {
    font-size: 15px;
}
}