{% extends 'base.html' %}
{% block content %}

<h4 class="center-align text-shadow">
Edit Visit
</h4>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_visit', visit_id=visit_id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-location-arrow prefix teal-text text-darken-4"></i>
                <select id="site_name" name="site_name" class="validate" required>
                    <option value="{{ url_for('visit') }}" disabled>Choose Site</option>
                    {% for site in sites %}
                        {% if site.site_name == visit.site_name %}
                        <option value="{{ site.site_name }}" selected>{{ site.site_name }}</option>
                        {% else %}
                        <option value="{{ site.site_name }}">{{ site.site_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="site_name">Site Name</label>
            </div>
        </div>
        <!-- visit notes-->
        <div class="row">
            <div class="input-field col s12">
            <i class="fas fa-align-left prefix teal-text text-darken-4"></i>
            <textarea id="notes" name="notes" minlength="5" maxlength="300" 
               class="materialize-textarea">{{ visit.notes }}</textarea>
            <label for="notes">Notes..</label>
            </div>
        </div>
        <!-- Visit date-->
        <div class="row">
            <div class="input-field col s12">
            <i class="fas fa-calendar-alt prefix teal-text text-darken-4"></i>
            <input id="arrival" name="arrival"type="text" type="text" class="datepicker validate" required value=' {{ visit.arrival }} '>
            <label for="arrival">Arrival</label>
            </div>
        </div>
        <!--submit btn-->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('the_sites') }}" class="btn-large red test-shadow">Cancel <i class="fas fa-times-circle right"></i></a>
                <button type="submit" class="btn-large teal darken-4 text-shadow">
                    Edit Visit <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
  </div>



{% endblock %}