{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="center-align">
                    Welcome, {{ username }}..
                </h4>
                <p class="center-align">
                    <em>Below are the upcoming visits you have planned, enjoy!</em> 
                </p>
            </div>
        </div>
    </div>
    <ul class="collapsible popout">
        {% for visit in visits %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-sort-down"></i>

                <a href="#" class="btn-small cyan lighten-4 black-text">Visitied</a>
                <a href="{{ url_for('edit_visit', visit_id=visit._id) }}"" class="btn-small teal lighten-4 black-text">Edit</a>

                <strong>{{visit.site_name}}</strong>
            </div>

            <div class="collapsible-body light-green lighten-2">
                <strong>{{visit.notes}}</strong>
                <p>{{visit.arrival}}</p> 
                <p><em> planned by: {{ visit.username }} </em></p>  
            </div>
        </li>
        {% endfor %}
    </ul>

    
{% endblock %}