{% extends "base.html" %}
{% block content %}

    <h4 class="center-align">
        The Sites
    </h4>
    <div class="row">
        <h4>map to go here</h4>
    </div>
    <ul class="collapsible popout">
        {% for site in sites %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-sort-down"></i>
                <strong>{{site.site_name}}</strong>
            </div>

            <div class="collapsible-body light-green lighten-2">
                <strong>{{site.site_location}}</strong>
                <p>{{site.site_description}}</p>   
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}
    
