{% extends "base.html" %}
{% block content %}

    <h4 class="center-align text-shadow">
        The Sites
    </h4>
    <div class="row">
        <div class="col-12" id="map">

        </div>
    </div>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix teal-text text-darken-4"></i>
                    <input type="text" name="query" id="query" class="validate" minlength="3" required>
                    <label for="query">Search Sites</label>
                </div>
                <div class="row s12 m4">
                    <a href="{{ url_for('the_sites') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="teal darken-1 btn text-shadow">
                       <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if sites|length > 0 %}
    <ul class="collapsible popout">
        {% for site in sites %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-sort-down"></i>
                <strong>{{site.site_name}}</strong>
                <a href="{{ url_for('visit') }}" class="btn-small teal lighten-4 black-text"><strong>+</strong></a>
                
            </div>

            <div class="collapsible-body light-green lighten-2">
                <strong>{{site.site_location}}</strong>
                <p>{{site.site_description}}</p>   
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3 class="red-text center-align">No results</h3>
    {% endif %}


{% endblock %}
    
